/* STYLES RESET */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* GENERAL STYLES */

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e4ebfe;

    /* Font Styles */
    font-family: "Red Hat Display", sans-serif;
}

.bg-pattern-desktop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    margin-top: -1.7rem;
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: #1f2e55;
    margin-bottom: 1.7rem;
}

.paragraph {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: #717fa6;
    margin-bottom: 2rem;
}

/* CARD GENERAL STYLES */

.card {
    max-width: 45rem;
    height: 69.7rem;
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 4rem 4rem -2rem rgba(13, 48, 189, 0.1518);
    margin: 0 2.4rem;
}

.card__hero-img {
    width: 100%;
    height: 22rem;
}

.card__box {
    text-align: center;
    padding: 4.5rem 4.8rem 4.8rem 4.8rem;
}

/* CARD PAYMENT BOX */

.card__plan-wrapper {
    display: flex;
    padding: 2.5rem 2.4rem 2.5rem 2.4rem;
    margin-bottom: 3.2rem;
}

.card__plan__icon {
    margin-right: 2rem;
}

.card__plan__title {
    color: #1f2e55;
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 0.6rem;
}

.card__plan__price {
    color: #717fa6;
    font-size: 1.6rem;
    font-weight: 500;
}

.card__plan__btn {
    margin-left: auto;
    border: none;
    background-color: transparent;
    color: #382ae1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.1s, transform 0.1s;
}

.card__plan__btn:hover {
    color: #766cf1;
}

.card__plan__btn:active {
    transform: scale(0.95);
}

/* CARD BUTTONS */

.btn__cta {
    display: block;
    margin: 0 auto;
    font-family: "Red Hat Display", sans-serif;
    border: none;
    margin-bottom: 3.2rem;
    box-shadow: 0 2rem 2rem 0 rgba(57, 42, 225, 0.19);
    background-color: #382ae1;
    color: #fff;
    border-radius: 1.1rem;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
}

.btn__cta:hover {
    background-color: #766cf1;
}

.btn__cta:active {
    transform: scale(0.95);
}

.btn__cancel {
    display: block;
    margin: 0 auto;
    font-family: "Red Hat Display", sans-serif;
    border: none;
    background-color: transparent;
    color: #717fa6;
    font-size: 1.5rem;
    font-weight: 900;
    transition: color 0.1s, transform 0.1s;
    cursor: pointer;
}

.btn__cancel:hover {
    color: #1f2e55;
}

.btn__cancel:active {
    transform: scale(0.95);
}

/* MEDIA QUERIES */

/* 448/16=28 */
@media only screen and (max-width: 28rem) {
    .card {
        /* height: 56.7rem; */
        height: revert;
    }

    .card__hero-img {
        height: 16rem;
    }

    .card__box {
        padding: 3.2rem 2.4rem 3.2rem 2.4rem;
    }

    .heading-1 {
        font-size: 2.2rem;
    }

    .paragraph {
        font-size: 1.5rem;
        margin: 0 auto;
        margin-bottom: 2.4rem;
        max-width: 27rem;
    }

    .card__plan-wrapper {
        margin-bottom: 2.4rem;
        padding: 1.7rem 1.6rem;
    }

    .card__plan__title {
        font-size: 1.4rem;
    }

    .card__plan__price {
        font-size: 1.4rem;
    }

    .card__plan__btn {
        font-size: 1.3rem;
    }

    .btn__cta {
        margin-bottom: 2.4rem;
    }
}

/* 380/16=23.75 */
@media only screen and (max-width: 23.75em) {
    .card {
        margin: 0;
    }
}

/* 352/16=22 */
@media only screen and (max-width: 22em) {
    html {
        font-size: 9px;
    }
}

/* END */
