/* STYLES RESET */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* GENERAL STYLES */

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e4ebfe;

    /* Font Styles */
    font-family: "Red Hat Display", sans-serif;
}

.bg-pattern-desktop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    margin-top: -1.7rem;
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading-1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: #1f2e55;
    margin-bottom: 1.7rem;
}

.paragraph {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: #717fa6;
    margin-bottom: 2rem;
}

/* CARD GENERAL STYLES */

.card {
    width: 45rem;
    height: 69.7rem;
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 4rem 4rem -2rem rgba(13, 48, 189, 0.1518);
}

.card__hero-img {
    width: 100%;
    height: 22rem;
}

.card__box {
    text-align: center;
    padding: 4.5rem 4.8rem 4.8rem 4.8rem;
}
